.container{
  display:grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 300px 200px 200px;
  gap:1rem;
  grid-template-areas: 
  "box-1 box-2 box-2 box-3"
  "box-6 box-4 box-5 box-3"
  "box-6 box-7 box-8 box-8";
}
.box{
  background-color: antiquewhite;
}
.box1{
  height:400px;
  
}
.box6{

  margin-top: 110px;;
}